body{

  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}
header ul {

  list-style-type: none;
  overflow: hidden;
  background-color: rgb(100,100,200);
  padding : 20px;
  margin: 0px;

}

header li a {
  color: white;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
}

header li {

  float: left;
}

div.box{

	margin:50px;
  border-radius: 5px;
	padding: 30px;
  margin-bottom: 100px;
}

div.image{

  float: left;
  width: 30%;

}

div.desc{

  padding-top: 50px;
  float: right;
  width: 60%;

}

footer{

	background-color: gray;
	padding: 30px;
	font-size: 20px;
	color:white;
	margin-bottom: 0px;
  margin-top: 30px;
}
p.summery{

  font-size:18px;
  color: white;
  background-color: blue;
}
p.author{

	font-size: 18px;
	font-style: italic;
  color: white;
  background-color: blue;
}

h3{

  font-size: 22px;
  font-style: italic;
  color: white;
  background-color: blue;
}
img{

  width: 100%;
  height: 100%;
}