body {
  background-image: url('img/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.box{

	margin: 50px;
	border-width: 1px;
	border-radius: 5px;
	padding: 30px;
}
